@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") */
/*Uitzonderingen:*/
/*                                                                                 */
/*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/

/*----Global Styles----*/

/*CSS-reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0C0C0C;
    --lightpink: #F2F0FF;
    --lightgrey: #F3F6F9;
    --grey: #7A7A7A;
}


/*----Typography----*/

h1, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


h2, nav, p, footer, label, button {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

a, a:visited, a:hover {
    color: var(--lightgrey);
    text-decoration: none;
}
/*----Layout----*/

/*----Re-usables----*/
section {
    display: flex;
    flex-direction: row;
    justify-content: center;

}
div {
    display: flex;
    flex-direction: column;
}
article {

}



/*----Areas----*/

/*----Header----*/

.header {
    background: linear-gradient(90deg, var(--blue) 0%, var(--purple) 100%);
    color: var(--lightgrey);
}
.header div {
    width: 100%;
    align-items: center;
    position: relative;
}

nav {
    align-self: end;
    display: flex;
    justify-content: end;
    gap: 90px;
    padding: 0 60px;
    margin: 50px 20px;
    background-color: transparent;
    color: var(--lightgrey);
    font-size: 35px;

}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 1400px;
}

header h1 {
    font-size: 85px;
    margin: 1.5em 0 3rem 0;
}

header h2 {
    font-size: 45px;
    font-weight: 350;
}

header button {
    margin: 60px 0 420px 0;
    width: 450px;
    align-self: center;
    background-color: var(--pink);
    border: 0;
    border-radius: 700px;
    padding: 40px;
    font-size: 25px;
    letter-spacing: 2px;
    color: var(--lightgrey);
}

.header img {
    bottom: -50px;
    position: absolute;
    width: 130px;
}