@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/*////////////////////////
    Table of Contents
    1. Global Styles
    2. Typography
    3. Layout
        3.1 Reusables
        3.2 Other
    4. Areas
        4.1 Header
        4.2 Introduction
        etc.
    5. Media Queries
////////////////////////*/

/*Paars #5722CD;*/
/*Blauw #4845E4;*/
/*Roze #ED4385;*/
/*Zwart #0C0C0C (voor standaard tekst);*/
/*Lichtpaars #F2F0FF (voor de grote zwevende woorden, zoals "hello" en "services") */
/*Uitzonderingen:*/
/*                                                                                 */
/*Lichtgrijs #F3F6F9 (voor de achtergrond van de projecten)*/
/*Grijs #7A7A7A (voor de service-tegel tekst);*/

/*----Global Styles----*/

/*CSS-reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple: #5722CD;
    --blue: #4845E4;
    --pink: #ED4385;
    --black: #0C0C0C;
    --lightpink: #F2F0FF;
    --lightgrey: #F3F6F9;
    --grey: #7A7A7A;
}

/*----Typography----*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Merriweather", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}


p {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}




